# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*/VkNet.1.29.1/*
*/bin/*
*/obj/*
*/Newtonsoft.Json.9.0.1/*
*/AngleSharp.0.9.9/*
Bike18InVK/nethouse.cs
Bike18InVK/httpRequest.cs
packages/Newtonsoft.Json.10.0.2/*
net40+sl5+win8+wpa81+wp8/Newtonsoft.Json.dll
